<div class="container">

    <form action="/custom/customQuery" method="get">
        <div class="form-group col-md-3">
            <button name="query" type="submit" class="btn btn-primary btn-block"
                value="SELECT * FROM StormEvents2019 LIMIT 10;">10 Storm Events, 2019</button>
        </div>
        <div class="form-group col-md-3">
            <button name="query" type="submit" class="btn btn-primary btn-block"
                value="SELECT * FROM StormEvents2019 LIMIT 20 OFFSET 10;">20 Storm Events, 2019</button>
        </div>
        <div class="form-group col-md-3">
            <button name="query" type="submit" class="btn btn-primary btn-block"
                value="SELECT * FROM AbrahamLincolnNationalPark LIMIT 300 OFFSET 1000;">300 Records, Abe Lincoln Nat
                Park</button>
        </div>
        <div class="form-group col-md-3">
            <button name="query" type="submit" class="btn btn-primary btn-block"
                value="SELECT * FROM TrafficEvents LIMIT 300;">300 Records, Traffic Events</button>
        </div>
        <div class="form-group col-md-3">
            <button name="query" type="submit" class="btn btn-primary btn-block"
                value="SELECT * FROM `StateEnergyUse;">All Records, State Energy Use</button>
        </div>
    </form>

    <form action="/custom/customQuery" method="get">
        <div class="form-group col-md-7">
            <input name="query" class="form-control" type="text" placeholder="Query" aria-label="Query"
                value="{{firstQuery}}">
        </div>

        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary btn-block">Run</button>
        </div>

    </form>

    <!--display table-->
    <div>
        <table class='table'>
            <thead>
                <tr>
                    <th>Index</th>
                    {{#each columns}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <!--using handlebars to display each row from database-->
                {{#each queryResult}}

                <tr>
                    <td>{{@index}}</td>
                    {{#each this}}
                    <td>
                        {{this}}
                    </td>
                    {{/each}}
                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>
