<div class="container">

	<!--search weather-->
	<form action="/weather/search" method="get">

		<div class="form-group col-md-7">
			<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
		</div>
		<!--select what to filter the search results by-->
		<div class="form-group col-md-3">
			<select class="form-control" name="filter">
				<option value="State">State</option>
				<option value="County">County</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<button type="submit" class="btn btn-primary btn-block">Search Locations</button>
		</div>

	</form>

	<!--display table-->
	<div>
		<table class='table'>
			<thead>
				<tr>
					<th>Index</th>
					<th>Park Name</th>
				</tr>
			</thead>
			<tbody>
				<!--using handlebars to display each row from database-->
				{{#each weather}}
					
					<td>{{@index}}</td>
                    {{#each this}}
                    <td>
                        {{this}}
                    </td>
                    {{/each}}
                </tr>

				
				{{/each}}
			</tbody>
		</table>
	</div>
</div>